{{#if success}}
<h1>Operation Successfull</h1>
{{/if}}


{{#profile}}
<form class="form" method="POST">
<div class="input-container">
  <label for="first_name">First Name</label>
  <input name="first_name" class="input" type="text" placeholder="{{first_name}}"/>
  <label for="last_name">Last Name</label>
  <input name="last_name" class="input" type="text" placeholder="{{last_name}}"/>
  <label for="age">Age</label>
  <input name="age" class="input" type="number" placeholder="{{age}}"/>
  <label for="city">City</label>
  <input name="city" class="input" type="text" placeholder="{{city}}"/>
  {{/profile}}
  {{#if signed}}
  <label for="signature">Signature</label>
  <img src="{{signature}}" name="signature">
  {{/if}}
<button type="text" class="submit">Submit</button>
</div>
</form>

<div>
{{#if signed}}
<form style="display:none" action="/delete" method="post">
<input name="delete" style="display:none" value="delete">
<button type="submit" id="delete"></button>
</form>
<label id="delete" class="main" style="text-decoration: underline" for="delete">Delete</label>
</div>
{{/if}}