{{#if success}}
<h1>Operation Successfull</h1>
{{/if}}


{{#profile}}
<form class="form" method="POST">
<div class="input-container">
  <label for="first_name">First Name</label>
  <input name="first_name" class="input" type="text" placeholder="{{first_name}}"/>
  <label for="last_name">Last Name</label>
  <input name="last_name" class="input" type="text" placeholder="{{last_name}}"/>
  <label for="age">Age</label>
  <input name="age" class="input" type="number" placeholder="{{age}}"/>
  <label for="city">City</label>
  <input name="city" class="input" type="text" placeholder="{{city}}"/>
  <label for="signature">Signature</label>
  <img src="{{signature}}" name="signature">
  <button type="text" class="submit">Submit</button>
  </div>
<div>

</div>

</form>
{{/profile}}

