<img src="./beer.jpg" width="350px" height="300px">
{{#if signed}}
{{#result}}
Thanks for signed on {{date}}
<div id="{{id}}" class="person">
<div class="name">First Name:</div>{{first}}
<div class="name">Last Name:</div>{{last}}
<div class="signature">Signature:</div>
<img src="{{signature}}">
</div>
<a class="name" href="/logout">Logout</a>
<a class="name" href="/list">List of Signatures</a>

{{/result}}

{{else}}
<h1>Not only FRIDAY but also EVERYDAY</h1>
<form method="POST">
  <label for="fname">First name</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="email">E-Mail</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="repassword">Re Password</label><br>
  <input type="password" id="repassword" name="repassword">
  {{>signature}}
 </form>
  <script src="/script.js"></script>
  <br>
<a id="list" href="/login">Petitiorzz Log in</a>
 {{/if}}
  {{#if showPasswordError}}
  <h3 id="error">Err:you should enter same passwords</h3>
  {{/if}}
  {{#if showBlankError}}
  <h3 id="error">Err:you should write your name or last name</h3>
  {{/if}}
{{#if showDbError}}
  <h3 id="dberror">Err:database error</h3>
{{/if}}

