<h1 class="pageTitle">List</h1>
{{#list}}
<div id="{{id}}">
<ul class="list">
    <li>
        {{first_name}} {{last_name}} , {{age}}
    </li>
    <li>
        {{city}}
    </li>
</ul>
</div>
<hr>
{{/list}}




