<h1 class="pageTitle">List</h1>
{{#list}}
<div id="{{id}}">
<ul class="list">
    <li>
        {{first_name}} {{last_name}} ,{{age}}
    </li>
    <li>
       <a class="cityList" href="/list/{{city}}">{{city}}</a>
    </li>
</ul>
</div>
<hr>
{{/list}}




